<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88534041044-jn8jt5jttmflsf0gjro309u6jd70b2jr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88534041044-jn8jt5jttmflsf0gjro309u6jd70b2jr</string>
	<key>API_KEY</key>
	<string>AIzaSyAznUWcL79RSzBhSbQ10gTFw0ePm7I5S8k</string>
	<key>GCM_SENDER_ID</key>
	<string>88534041044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agustinburset.flash-chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-flutter-b3fd1</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-flutter-b3fd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88534041044:ios:37e19e837413a30dd99641</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-flutter-b3fd1.firebaseio.com</string>
</dict>
</plist>